<mat-card style="background-color: whitesmoke">
  <mat-card-header>
    <mat-card-title>
      <span>{{ topic.name }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span>{{ topic.description }}</span>
  </mat-card-content>
  <mat-card-footer>
    <div style="text-align: center">
      <button
        *ngIf="!onProfile"
        mat-raised-button
        color="primary"
        (click)="subscribe(topic.id.toString())"
      >
        <span>S'abonner</span>
      </button>
      <button
        *ngIf="onProfile"
        mat-raised-button
        color="primary"
        (click)="unsubscribe(topic.id.toString())"
      >
        <span>Se désabonner</span>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
