<app-header></app-header>
<mat-grid-list cols="2" rowHeight="250px">
  <mat-grid-tile *ngFor="let topic of topics$ | async">
    <mat-card style="background-color: whitesmoke">
      <mat-card-header>
        <mat-card-title>
          <span>{{ topic.name }}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span>{{ topic.description }}</span>
      </mat-card-content>
      <mat-card-footer>
        <div style="text-align: center">
          <button mat-raised-button color="primary">
            <span>S'abonner</span>
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
