.logo {
  width: auto;
  height: 100px;
}

.icon {
  transform: scale(2);
}

.link {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.active {
  color: blueviolet;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}
