.logo {
  width: 150px;
  height: auto;
}

.link {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: --secondary-color;
}

.active {
  color: var(--secondary-color);
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  height: auto;
}
