.container {
  height: calc(100vh - 64px);
  overflow: auto;
}

.center {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.error {
  color: red;
}
