.comment-card {
  display: flex;
  align-items: flex-end;
  min-height: auto;
  background-color: #f1f1f1;
}

.mat-form-field-outline {
  color: red; /* Change the outline color to red */
}
.icon {
  transform: scale(2);
}

.center {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
