.inline {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  margin: auto;
}

.center img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  .center {
    flex-direction: column;
  }

  .inline {
    flex-direction: column;
    align-items: center;
  }

  .inline > div {
    margin: 10px 0;
  }
}
