.inline {
  display: flex;
  flex-direction: row;
}

.inline > div {
  margin: 0 80px;
}

.center img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 600px) {
  .center {
    flex-direction: column;
  }

  .inline {
    flex-direction: column;
    align-items: center;
  }

  .inline > div {
    margin: 10px 0;
  }
}
